.main{
    position: unset;
}
.destaque-container{
    width: 100%;
    height: 60vh;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    background-image: url("./destaque.jpg");
    background-image: linear-gradient(to top, rgba(14, 14, 14, 1), rgba(14, 14, 14, 0.2), rgba(14, 14, 14, 0)),url("./destaque.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: unset;
    z-index: -1;
    
}

.destaque-conteudo{
    position: absolute;
    top:37vh;
    .destaqueTitle{
        position: relative;
        width: 80vw;
    }

    .buttons-destaque{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(0, 0, 0, 0);
            margin: 5px;
            cursor: pointer;
            font-size: 12px;
            font-weight: 100;
            color:#fff;
            .icon{
                color: #fff;
                font-size: 15px;
                background-color: rgba(0, 0, 0, 0.8);
                padding: 5px;
                margin: 5px;
                border-radius: 50%;
                border: 1px solid #fff;
            }
        }
        button:nth-child(2){
            .icon{
                width: 50px;
                color: #000;
                background-color: rgba(255, 255, 255, 1);
                border-radius: 10px;
            }
        }
    }
    
}

.swipers{
    height: fit-content;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 60vh;
}
