.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 30px 50px;
    align-items: center;
    background: linear-gradient(rgba(14, 14, 14, 1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}
.menu-mobile {
    height: 30px;
    width: 30px;
    display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;

    .menu-linha {
        background-color: rgb(179, 179, 179);
        height: 2px;
        width: 75%;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    
    .menu-linha:nth-child(2) {
        width: 100%;
    }
    
    .menu-linha:nth-child(3) {
        width: 55%;
        margin-bottom: 0;
    }
}


.logo {
    height: 20px;
}
.menu, .search {
    display: none;
}

.profile-menu {
    height: 30px;
    .profile-image {
        height: 30px;
        width: 30px;
        border-radius: 25%;
    }
    .icon-arrow{
        display: none;
    }
}




@media (min-width: 768px) {
    .header{
        justify-content: space-between;
        padding: 20px 50px 30px 50px;
    }

    .left {
        display: flex;
        align-items: center;
    }

    .right {
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display: none;
    }
    .menu{
        display: block;
        margin-left: 20px;
    }
    .search{
        display: block;
    }
    form {
        display: flex;
        align-items: center;
    }
    form>input {
        display: none;
        width: 0px;
    }
    form>input::placeholder {
        font-size: 15px;
        color: rgba(255, 255, 255, 0.5);
    }

    form>.icon {
        position: relative;
        font-size: 18px;
        color: #fff;
        left: -18px;
    }
    form:hover>input,  form>input:focus {
            width: 150px;
            display: block;
            outline: none;
            padding: 3px 25px 3px 5px;
            border-bottom: 1px solid #fff;
            background-color: rgba(255, 255, 255, 0);
            color: #fff;
    }


    .profile-menu {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.20);
        padding: 3px;
        border-radius: 10px;
        margin-left: 20px;
        .profile-image {
            height: 30px;
            width: 30px;
            border-radius: 25%;
        }
        .icon-arrow{
            display: block;
            color: #fff;
        }
    }
    .profile-menu:hover, .profile-menu:active {
        background-color: rgba(255, 255, 255, 0.25);
        transition: 250ms;
        .icon-arrow{
            transform: rotate(180deg);
            transition: ease-in-out 250ms;
        }
    }
}



@media (min-width: 1024px) {
    
}