.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#0e0e0e), color-stop(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(#0e0e0e, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.menu-mobile {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile .menu-linha {
  background-color: #b3b3b3;
  height: 2px;
  width: 75%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.menu-mobile .menu-linha:nth-child(2) {
  width: 100%;
}

.menu-mobile .menu-linha:nth-child(3) {
  width: 55%;
  margin-bottom: 0;
}

.logo {
  height: 20px;
}

.menu, .search {
  display: none;
}

.profile-menu {
  height: 30px;
}

.profile-menu .profile-image {
  height: 30px;
  width: 30px;
  border-radius: 25%;
}

.profile-menu .icon-arrow {
  display: none;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 50px 30px 50px;
  }
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-mobile {
    display: none;
  }
  .menu {
    display: block;
    margin-left: 20px;
  }
  .search {
    display: block;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form > input {
    display: none;
    width: 0px;
  }
  form > input::-webkit-input-placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  form > input:-ms-input-placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  form > input::-ms-input-placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  form > input::placeholder {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
  }
  form > .icon {
    position: relative;
    font-size: 18px;
    color: #fff;
    left: -18px;
  }
  form:hover > input, form > input:focus {
    width: 150px;
    display: block;
    outline: none;
    padding: 3px 25px 3px 5px;
    border-bottom: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
  .profile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3px;
    border-radius: 10px;
    margin-left: 20px;
  }
  .profile-menu .profile-image {
    height: 30px;
    width: 30px;
    border-radius: 25%;
  }
  .profile-menu .icon-arrow {
    display: block;
    color: #fff;
  }
  .profile-menu:hover, .profile-menu:active {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .profile-menu:hover .icon-arrow, .profile-menu:active .icon-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: ease-in-out 250ms;
    transition: ease-in-out 250ms;
  }
}
/*# sourceMappingURL=Header.css.map */