.header{
    background: linear-gradient(#000000, #000000ad, #00000000);
    z-index: 1;
    padding: 20px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-left{
        display: inline-flex;
        align-items: center;
        
        .logo{
            height: 30px;
        }
    }
    
    .container-right{
        display: inline-flex;
        align-items: center;
        color: #fff;

        form{
            display: flex;
            align-items: center;
        }
        .search{
            background: rgba(0, 0, 0, 0);
            padding-left: 5px;
            height: 30px;
            outline: none;
            color: #fff;
            font-weight: 500;
            width: 0px;
            margin-right: -30px;
            transition: 0.3s;
        }
        .icon{
            font-size: 24px;
            cursor: pointer;
            margin-right: 30px;
        }
        form:hover .search{
            border-bottom: 1px solid #fff;
            width: 200px;
            display: block;
            transition: 0.3s;
        }
        .search:focus{
            border-bottom: 1px solid #fff;
            width: 200px;
            display: block;
        }

        .profile-image{
            height: 30px;
            padding: 0;
            cursor: pointer;
            border-radius: 20%;
        }
        .arrow{
            padding: 0;
            margin: 0;
        }
        div{
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.1);
           
        }
        div:hover{
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            transition-duration: 0.3s;
        }
    }
    
}
